data/raw/*
data/taxon_common_ids.csv
data/blast/*
data/dada2/pooled_process/*
!data/raw/qc/
!data/raw/run2/undetermined/cutadapt_log_20220926.txt
!data/raw/run2/undetermined/params.txt
!data/primer_sequences.csv
!data/raw/EGC_Diet_Lane1_indexes-Fisher-corrected.csv

data/cutadapt/noprimers/*
!data/cutadapt/noprimers/output.metadata.csv
!data/cutadapt/noprimers/log.cutadapt.txt
data/cutadapt/noprimers_filtered_pooled/*

data/databases/*

scripts/results_run_2.html

test-run-1/data/*
!test-run-1/data/metadata-cutadapt-input-lane1.csv
!test-run-1/data/cutadapt/first_try_misnamed_samples.xlsx
!test-run-1/data/dada2/BF3/F_ASV_table.csv
!test-run-1/data/dada2/BF3/R_ASV_table.csv
!test-run-1/data/dada2/BF3/merged_ASV_table.csv
!test-run-1/data/dada2/BF3/F_hash_key.csv
!test-run-1/data/dada2/BF3/R_hash_key.csv
!test-run-1/data/dada2/BF3/merged_hash_key.csv
!test-run-1/data/blast/*

test-run-1/for-Ryan-BLAST.zip
test-run-1/for-Ryan-BLAST2.zip


R/*.exe
.Rproj.user

programs/*
